header {
    padding: 5px;
    background-color: #001d3d;
    height: 50px;
    color: white;


    .list {
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .links {
                padding: 1px;
                display: flex;
                justify-content: space-around;
                align-items: center;

            ul {
                padding-right: 20px;
                list-style: none;
                

                li {
                    padding: 2px 20px;
                    display: inline-block;

                }
            }

            img {
                border-radius: 50%;
            }
        }

    }


}